body {
  margin: 0;
  font-family: monospace;
  background-color: #bdf;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
}

.app-root {
  padding: 2em;
}

.person {
  background-color: #fff;
  border-radius: 1.4em;
  padding: 1rem;
  font-size: 1rem;
}

.full-name {
  font-size: 2rem;
}

.skill {
  display: inline-block;
  margin: 0 .4em .4em 0;
  font-size: 1.2rem;
  border: 1px solid #bdf;
  border-radius: 2rem;
  padding: .4rem 1rem;
}

.skill::before {
  content: "x ";
}
