body {
  margin: 0;
  font-family: monospace;
  background-color: #759fdd;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
}

.app-root {
  padding: 2em;
}

.block {
  background-color: #fff;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s cubic-bezier(1, 0.06, 0.05, 1)
}

.block.active {
  transform: scale(1.03);
  box-shadow: 0 0 2rem rgba(0,0,0,0.2);
  padding: 1rem;
}

.full-name {
  font-size: 1.5rem;
}

.count {
  opacity: 0;
  color: #fff;
  border-radius: 1rem;
  padding: .3rem .7rem;
  float: right;
  transition: all 0.2s cubic-bezier(1, 0.06, 0.05, 1)
}

.active .count {
  opacity: 1;
  background-color: #66d31d;
}

.count {
  opacity: 0;
  color: #fff;
  border-radius: 1rem;
  padding: .3rem .7rem;
  float: right;
  transition: all 0.2s cubic-bezier(1, 0.06, 0.05, 1)
}

.active .count {
  opacity: 1;
  background-color: #66d31d;
}

.skill {
  display: inline-block;
  margin: 0 .4em .4em 0;
  font-size: 1.2rem;
  border: 1px solid #66d31d;
  border-radius: 2rem;
  padding: .4rem 1rem;
}

.skill::before {
  content: "x ";
}
